[run]
concurrency = greenlet
source = api/src, engine/src
omit =
    */test*
    */__pycache__/*
    */migrations/*
    */alembic/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if TYPE_CHECKING:
    @abstractmethod
    \.\.\.
show_missing = true
